body {
	background-color: #e8e8e3;
}
#topbar {
	height: 40px;
	background-color: #fff;
}
.kuva {
	height: 73px;
	width: 145px;
	background-image: url("../images/megakisa.png");
	position: absolute;
    left: 142px;
}
#topbar .inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
#topbar .inline li {
    float: left;
}
#topbar .inline li a {
    display: block;
    color: #e92c61;
    font-weight: bold;
	font-family: "Open Sans";
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.vaihto {
	color: #5eb8da;
}
#main {
	background-color: #f2f2ee;
	padding-bottom: 10px;
	box-shadow: 0px 7px 14px #dadad4;

}
#header-background {
	height: 125px;
	width: 1200px;
	margin: 0 auto;
	background-image: url("../images/logo.png");
	position: relative;
    top: 10px;
}
#main-header {
	height: 300px;
	background-image: url("../images/pääheader.png");
	margin-top: -15px;
}
.megapalkintona {
	height: 22px;
	float: left;
	background-color: #ffffff;
	position: relative;
	top: 50px;
    left: 63px;
}
.teksti {
	color: black;
	font-family: "Open Sans";
	font-size: 8px;
	padding: 7px;
}
.canon {
	width: 218px;
	float: left;
	position: relative;
	right: 81px;
	top: 87px;
}
.canon h1 {
	color: white;
	font-family: "Open Sans";
	font-weight: 900;
	position: relative;
	line-height: 42px;
}
.canon h6 {
	color: white;
	font-family: "Open Sans";
	font-weight: 900;
	position: relative;
	line-height: 18px
}
.kamera {
	float: left;
	position: relative;
	top: 20px;
    right: 44px;
}
.osallistu {
	border-radius: 50px;
    background-color: rgb(207,0,73);
    padding: 6px 17px;
    position: relative;
    top: -48px;
}
.osallistu h6 {
	color: white;
    font-family: "Open Sans";
	font-weight: bold;
	margin: 0;
	font-size: 13px;
	width: auto;
	text-align: center;

}
.palkinnot {
	width: 303px;
	border-radius: 5px;
	background-color: rgb(189, 0, 67);
	position: relative;
    top: 32px;
    float: right;
    right: 21px;
    color:#ffffff;
}
.palkinnot h6 {
	font-family: "Open Sans";
	font-weight: bold;
	padding: 6px 15px 0px;
    margin-bottom: 5px;
}
.kpl {
    border-radius: 50px;
    background-color: #620006;
    padding: 3px 8px;
    margin-left: 13px;
    display: inline-block;
}
.odd-even {
	list-style:none;
	margin: 0;
}
.odd-even li {
	list-style:none;
	color:#ffffff;
	font-size: 11px;
	margin: 0;
	padding: 5px;
	line-height: 15px;
}
.odd-even li:nth-child(odd) {
    background-color: rgb(207,0,73);
}
.odd-even li:nth-child(even) {
    background-color: transparent;
}
.odd-even li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#top-left {
	height: 242px;
	background-color: #fbfbf7;
	margin-top: 10px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
.cheekteksti {
	font-size: 13px;
	margin: 8px 20px;
}
#top-center {
	height: 242px;
	background-color: #fbfbf7;
	margin-top: 10px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
.pokeriteksti {
	font-size: 13px;
	margin: 8px 20px;
}
#top-right {
	height: 242px;
	background-color: #fbfbf7;
	margin-top: 10px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
.ouluteksti {
	font-size: 13px;
	margin: 8px 20px;
}
.luelisaa {
	font-size: 13px;
	color: #e92c4d;
	margin-left: 20px;
}
#under-left {
	background-color: #363636;
	margin-top: 15px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
#under-left li {
	border-bottom: 1px solid #3e3e3e;
}
#karppapalkki {
	padding: 7px 5px 5px 20px;
	background: #0c0d0d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #0c0d0d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #0c0d0d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #0c0d0d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #0c0d0d); /* Standard syntax */
}
.rsskarppa {
	float: left;
	position: relative;
	top: 5px;
}
.karppalogo {
	float: left;
    position: relative;
    top: -13px;
    left: 6px;
}
#karppapalkki h5 {
	color: white;
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 18px;
	margin-bottom: 0;
	padding-left: 99px;
}
.karppasyote {
	color: #ffffff;
	font-size: 12px;
	margin: 20px;

}
#under-center {
	background-color: #fdfdfd;
	margin-top: 15px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
#under-center li {
	border-bottom: 1px solid #ededed;
}
#kalevapalkki {
	background: #f3f3f3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #f3f3f3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #f3f3f3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #f3f3f3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #f3f3f3); /* Standard syntax */
    padding: 11px 5px 5px 20px;
}
.kalevasyote {
	font-size: 12px;
	margin: 20px;
}
.kello {
	color: #ea8c1c;
	font-weight: bold;
}
#under-right {
	background-color: #fefefd;
	margin-top: 15px;
	box-shadow: 3px 3px 5px #e6e6e2;
}
.pilvi {
	width: 47%;
    float: left;
    text-align: right;
    padding-top: 20px;
}
.lampotila {
	width: 47%;
    float: right;
    text-align: left;
}
.aika {
	margin-bottom: 9px;
	margin-top: -12px;
	font-family: "Open Sans"

}
#under-right th {
	border: 1px solid #dcdcd9;
	background-color: #f4f4f1;
	font-size: 12px;
    padding: 6px 0px;
    text-align: center;

}
#under-right td {
	border: 1px solid #dcdcd9;
    padding: 6px 0px;
    text-align: center;
}
#under-right table {
	margin: 0px 5% 15px 5%;
    width: 90%
}
.lisatiedot {
	color: #51adcf;
	position: relative;
    left: 36px;
    font-size: 13px;
    margin: 8px;
}
#oulunsaapalkki {
	background-color: #56b3d6;
	padding: 5px 12px 5px;
}
#oulunsaapalkki h5 {
	color: white;
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 19px;
	margin-bottom: 0;
}
.unstyled, .unstyled li {
	list-style:none;
}
.big-number {
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 250%
}
.medium-number {
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 120%
}
#alaosa {
	
	}
#navigation {
	height: 87px;
	position: relative;
	top: 10px;
}
#navigation .inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navigation .inline li {
    float: left;

}
#navigation .inline li a {
    display: block;
    color: #e92c61;
    font-weight: bold;
	font-family: "Open Sans";
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.some {
	position: relative;
	top: 10px;
}
hr {
    border-width: 0;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #f6f6f2;
    margin: 12px 0px 29px;
}
#footer {
	background-color: #e8e8e3;
	height: 105px;
	color: #cbcbc6;
	font-family: "Open Sans";
	text-align: center;
}
.company {
	color: black;
}